* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: optimizeSpeed;
}

html,
body {
  display: block;
  height: 100%;
}

body {
  background-color: black;
}
